:root {
  --font-family: Helvetica;
  --font-size: 14px;
  --padding-xs: 0.2rem;
  --padding-s: 0.5rem;
  --padding-m: 1rem;
  --padding-l: 2rem;
  --padding-xl: 3rem;
  --margin-s: 0.5rem;
  --margin-m: 1rem;
  --margin-l: 2rem;
  --border-radius-s: 0.3rem;
  --border-radius-m: 0.5rem;
  --border-radius-l: 0.9rem;

  --accent-color: #228b22;

  --transparent-10: rgb(255 255 255 / 10%);
  --transparent-20: rgb(255 255 255 / 20%);
  --transparent-40: rgb(255 255 255 / 40%);
  --transparent-50: rgb(255 255 255 / 50%);
  --transparent-80: rgb(255 255 255 / 80%);

  --tile-back-color: #666;

  --grid-rows: 4;
  --grid-columns: 4;
  --grid-gap: 2px;
  --tile-size: 60px;
  --tile-animation-duration: 500ms;
  --tile-animation-delay: 0ms;
}

* {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  accent-color: var(--accent-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

button {
  align-items: center;
  display: flex;
  justify-content: center;
}

button.action {
  background-color: #fff;
  border: 0;
  border-radius: var(--border-radius-s);
  color: #000;
  cursor: pointer;
  font-weight: bold;
  margin-top: var(--margin-l);
  padding: var(--padding-m);
}

button.action:hover {
  background-color: var(--transparent-80);
}

@media (width <= 750px) {
  :root {
    --font-size: 12px;
  }
}
