@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.bannerWrapper {
    align-items: center;
    animation: slide-down 300ms cubic-bezier(.17, .04, .03, .94) 400ms backwards;
    background-color: var(--accent-color);
    border-radius: 0 0 var(--border-radius-s) var(--border-radius-s);
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: var(--padding-l);
    position: absolute;
    top: 0;
    z-index: 100;
}

.bannerWrapper .number {
    color: var(--transparent-50);
    font-size: 2.6rem;
}

.bannerWrapper .highScore {
    color: var(--transparent-50);
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: var(--margin-m);
}
