.gameWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 26rem;
    padding: 0 6rem 6rem;
    position: relative;
    row-gap: var(--padding-m);
}

.gameWrapper .titleWrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-l);
}

.gameWrapper .titleWrapper .title {
    font-size: clamp(2.2rem, 1.8rem + .9vw, 3rem);
}

.gameWrapper .titleWrapper .version {
    color: var(--transparent-50);
    font-size: .8rem;
}

.gameWrapper .highScoreWrapper {
    
}

.gameWrapper .header {
    position: relative;
}

.iconBtn {
    border: 0;
    background-color: var(--transparent-10);
    border-radius: var(--border-radius-s);
    cursor: pointer;
    height: var(--icon-btn-size);
    position: absolute;
    right: calc((var(--icon-btn-size) + 8px) * -1);
    width: var(--icon-btn-size);
}

.settingsBtn {
    top: calc(50% - var(--icon-btn-size) - 4px);
}

.restartBtn {
    top: calc(50% + 4px);
}

.iconBtn img {
    transform: scale(0.9);
    transition: transform 200ms ease-in-out;
}

.iconBtn:hover {
    background-color: var(--transparent-20);
}

.iconBtn:hover img {
    transform: scale(1);
}
