.header {
    position: relative;
}

.iconBtn {
    border: 0;
    background-color: var(--transparent-10);
    border-radius: var(--border-radius-s);
    cursor: pointer;
    height: var(--icon-btn-size);
    position: absolute;
    width: var(--icon-btn-size);
}

.settingsBtn,
.restartBtn {
    right: calc((var(--icon-btn-size) + 8px) * -1);
}

.settingsBtn {
    top: calc(50% - var(--icon-btn-size) - 4px);
}

.restartBtn {
    top: calc(50% + 4px);
}

.highScoresBtn {
    left: calc((var(--icon-btn-size) + 8px) * -1);
    top: calc(50% - var(--icon-btn-size) / 2);
}

.iconBtn img {
    transform: scale(0.9);
    transition: transform 200ms ease-in-out;
}

.iconBtn:hover {
    background-color: var(--transparent-20);
}

.iconBtn:hover img {
    transform: scale(1);
}
