form.prompt {
    display: flex;
    flex-direction: column;
    row-gap: var(--margin-m);
}

input[type='text'].name {
    background-color: var(--accent-color);
    border: none;
    border-radius: var(--border-radius-s);
    color: #FFF;
    max-width: 12rem;
    padding: var(--padding-s);
}

input[type='text'].name::placeholder {
    color: var(--transparent-40);
}
