.content {
    align-items: center;
    display: grid;
    grid-template-columns: 16rem auto;
    grid-gap: var(--margin-m);
}

input[type='text'].name {
    background-color: var(--accent-color);
    border: none;
    border-radius: var(--border-radius-s);
    color: #FFF;
    margin-bottom: var(--margin-m);
    max-width: 12rem;
    padding: var(--padding-s);
}

input[type='text'].name::placeholder {
    color: var(--transparent-40);
}
