.content {
    align-items: center;
    display: grid;
    grid-template-columns: 16rem auto;
    grid-gap: var(--margin-m);
}

.content .fullRow {
    grid-column: span 2;
    margin-bottom: -16px;
}

.content .count {
    align-items: center;
    background-color: rgb(0 0 0 / 10%);
    border-radius: var(--border-radius-s);
    color: #000;
    display: flex;
    font-weight: bold;
    height: 2rem;
    justify-content: center;
    width: 2rem;
}

.content input[type='checkbox'],
.content input[type='color'] {
    appearance: none;
    background-color: rgb(0 0 0 / 10%);
    border: 1px solid #000;
    border-radius: var(--border-radius-s);
    height: 20px;
    width: 20px;
}

.content input[type='checkbox']:hover,
.content input[type='color']:hover {
    background-color: rgb(0 0 0 / 20%);
}

.content input[type='checkbox']:checked {
    background-color: var(--accent-color);
}

.dangerZone {
    align-items: center;
    display: grid;
    grid-template-columns: auto 4rem;
    grid-gap: var(--margin-m);
    margin-top: var(--margin-m);
}

button.saveBtn {
    margin-top: var(--margin-m);
}

button.resetBtn {
    margin: 0;
    padding: var(--padding-s);
}

.warning {
    bottom: 1rem;
    color: #FF0000;
    font-size: 0.8rem;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
