.tilesWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: var(--tile-margin);
    width: calc(var(--grid-size) * (var(--tile-size) + var(--tile-margin)) - var(--tile-margin));
}
