.tilesWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: var(--grid-gap);
  position: relative;
  width: calc(var(--grid-columns) * (var(--tile-size) + var(--grid-gap)) - var(--grid-gap));
}

.lockMask {
  height: 100%;
  position: absolute;
  width: 100%;
}
