@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.tileWrapper {
    align-items: center;
    border-radius: var(--border-radius-l);
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    height: var(--tile-size);
    justify-content: center;
    transform: rotateY(0);
    transition: transform 200ms ease-out;
    user-select: none;
    width: var(--tile-size);
}

.tileWrapper.hidden {
    background-color: var(--transparent-40);
    color: #000;
}

.tileWrapper.visible {
    background-color: var(--transparent-10);
    transform: rotateY(180deg);
}

.tileWrapper.found {
    animation: pulse 300ms ease-in-out;
    background-color: var(--transparent-10);
    cursor: default;
    transform: rotateY(180deg);
}

.tileWrapper.hidden:hover {
    background-color: var(--transparent-50);
}
